/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAF3E0; /* Warna Cream */
    color: #5C4033; /* Warna teks coklat tua */
}
